@charset "utf-8";
/* CSS Document */
/*
.ui-page-active {
	display: table ! important;
}
.header {
	display: table-row;
}
nav {
	margin-left:auto;
	margin-right:auto;
}
.ui-content {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%
}
*/
.ui-autocomplete {
	z-index: 500 ! important;
}
#chorePie {
	height: 240px;
	width: 90%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.ui-content .ui-listview {
	margin-top: 0px;
	margin-bottom: 0px;
}

