@charset "utf-8";
/* CSS Document */
.ui-widget { 
	font-size: small;
}
div#main {
	height: 450px;
	width: 300px;
	border-style: solid;
	border-color: #F90;
	margin: 0px auto;
	background-color: #FFC;
	padding: 0px;
	display: table;
}
div#flash_error {
	border-style: solid;
	border-color: #F00;
}
div#flash_error p{
	color: #C00;
}
div#pie p {
	font-size: x-small;
	float: right;
}
div#addChore {
	margin: 10px auto;
}
div#footer {
	margin: 0 auto;
	height: 100%;
}
div.buttons {
	clear: both;
	-webkit-box-flex: 1;
}
fieldset {
	width: 290px;
	border-style: dashed;
	border-color: #F90;
	margin: 10px auto;
	padding: 0px;
}
label {
	clear: left;
	float: left;
	text-align: right;
	width: 70px;
	margin: 5px;
}
input {
	width: 150px;
	margin: 5px;
}
input.choreSubmit {
	clear: both;
	margin: 0px 100px;
	width:100px;
	height:27px;
}
input#friendSubmit {
	width: 40px;
	height: 27px;
}

div.logindiv {
	margin: 100px auto;
	width: 200px;
	padding: 20px;
	height: 100px;
}
div.logindiv input {
	display: block;
	margin: 20px auto;
}

div.chorePie {
	width: 250px;
	height: 150px;
	margin: 0 auto;
}

div#chores {
	position: absolute;
	bottom: 5px;
}
table#chores, table#leaderboard {
	border-width: medium;
	border-spacing: 2px;
	border-style: ridge;
	border-color: #0084d1;
	border-collapse: collapse;
	position: absolute;
	bottom: 40px;
	width: 296px;
	margin: auto 2px 0 2px;
}
table#chores th, table#leaderboard th {
	text-align: left;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
table#chores td, table#leaderboard td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
div#body {
	display: table-row;
	height: 100%;
}
nav {
	margin: 0 auto;
	width: 110px;
}
footer {
	display: table-row:
	margin-bottom: 0;
}
footer a {
	background-size:20px 20px;
	width: 30px;
	height: 30px;
}
footer a#home_icon {
	background-image: url('/images/icon_home.svg');
	background-repeat: no-repeat;
}
footer a#friends_icon {
	background-image: url('/images/icon_friends_b.svg');
	background-repeat: no-repeat;
}
footer a#chores_icon {
	background-image: url('/images/icon_chores_a.svg');
	background-repeat: no-repeat;
}

