<script type="text/javascript" charset="utf-8">
	$(function() {
		// Setup the input form fields
		var availableChores = <%- types %>;
		var availableFriends = <%- friends %>;
		$('#choreName').autocomplete( { source: availableChores} );
		$('#personName').autocomplete( { source: availableFriends} );

		// Set UI button styles
		$('#choreSubmit').button();
		$('#choreSubmit').addClass('choreSubmit');
	});

	function showValue(val) {
		$('#timeLabel').html(val + 'mins');
	}
</script>
	
<div id="addChore">
	<form action="/do_chore" method="post" name="createTask">
		<label for="choreName">Chore</label>
		<input type="text" id="choreName" name="chore" autofocus required placeholder="Start typing for autocomplete...">
		<label for="personName">Person</label>
		<input type="text" id="personName" name="person" placeholder="<%= user.name %>">
		<label for="time" id="timeLabel">30mins</label>
		<input type="range" id= "time" name="time" min="10" max="120" value="30" step="5" onchange="showValue(this.value)" >
		<input type="submit" id='choreSubmit' value="Do it!"/>
	</form>
</div>

<br/>

<br/>

<div id="leaderboardDiv">
	<table id="leaderboard">
		<caption>Leaderboard</caption>
		<tr>
			<td>1st</td>
			<td>Shane</td>
			<td>+41</td>
		</tr>
		<tr>
			<td>2nd</td>
			<td>Sara</td>
			<td>+0</td>
		</tr>
	</table>	
</div>

