	<div class="logindiv">
		<form action="login" method="post" accept-charset="utf-8">
			<input type="email" name="email" value="" placeholder="Enter email to login...">
			<input type="submit" id="submit" class="submit" value="Login &rarr;">
		</form>
	</div>

	<script type="text/javascript" charset="utf-8">
		$('#submit').button();
	</script>

