<!DOCTYPE html>
<html lang="en">
<head>
    <title>leh</title>
    <link rel='stylesheet' href='../public/stylesheets/basestyle.css' />
</head>

<body>
 	<div id="main">
    	<div id="flash_error"><p>This is an error</p></div>
    	<div id="chores">
            <table id="chores">
                <tr>
                    <th>Date:</th>
                    <th>Chore:</th>
                </tr>
                <tr>
                    <td>1/1/1990 5:34pm</td>
                    <td>Wash dishes</td>
                </tr>
                <tr>
                    <td>1/2/1990 5:34pm</td>
                    <td>Feed Dog</td>
                </tr>
                <tr>
                    <td>1/2/1990 5:34pm</td>
                    <td>Feed Dog</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
