<div id="chores">
	<table id="chores">
		<tr>
			<th>Date:</th>
			<th>Chore:</th>
		</tr>
		<% chores.forEach(function(chore) { %>
			<tr>
				<td><%= chore.done_date %></td>
				<td><%= chore.type.name %></td>
			</tr>
		<% }) %>
	</table>
</div>

